@inject SettingsService SettingsService

    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="text-lg-right col-md-12  d-flex justify-content-center">
            <RadzenMenu style="display: flex; float: none; height: 51px; width: 760px">
              <ChildContent>
                 <AuthorizeView Roles="@SettingsService.GetAdminAccessString(true)"> 
                    <RadzenMenuItem Icon="admin_panel_settings" Text="Администрирование">
                      <ChildContent>
                        <RadzenMenuItem Icon="book" Text="Справочники">
                        </RadzenMenuItem>
                        <RadzenMenuItem Icon="supervised_user_circle" Text="Пользователи" Path="usermanagment">
                        </RadzenMenuItem>
                        <RadzenMenuItem Icon="settings" Text="Настройки системы">
                          <ChildContent>
                            <RadzenMenuItem Icon="mark_email_read" Text="Почта" Path="mailersettings">
                            </RadzenMenuItem>
                            <RadzenMenuItem Icon="description" Text="Управление файлами">
                            </RadzenMenuItem>
                            <RadzenMenuItem Icon="accessibility" Text="Настройки доступа" Path="accesssettings">
                            </RadzenMenuItem>
                          </ChildContent>
                        </RadzenMenuItem>
                      </ChildContent>
                    </RadzenMenuItem>
                    <RadzenMenuItem Icon="next_week" Text="Управление отчетностью">
                      <ChildContent>
                        <RadzenMenuItem Icon="rule" Text="Новый запрос данных" Path="createreportrequest">
                        </RadzenMenuItem>
                        <RadzenMenuItem Icon="published_with_changes" Text="Настройка расписания" Path="reportrequestslist">
                        </RadzenMenuItem>
                        <RadzenMenuItem Icon="wysiwyg" Text="Просмотр отчетов" Path="reportresults">
                        </RadzenMenuItem>
                      </ChildContent>
                    </RadzenMenuItem>
                </AuthorizeView>
                <AuthorizeView Roles="@SettingsService.GetAdminAccessString(false)">
                    <RadzenMenuItem Icon="work_outline" Text="Мои отчеты" Path="usersreports">
                    </RadzenMenuItem>
                    <RadzenMenuItem Icon="account_box" Text="Кабинет" Path="userinfo">
                    </RadzenMenuItem>
                </AuthorizeView>

              </ChildContent>
            </RadzenMenu>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>