@page "/test"
@inject FileService FileService
@inject NotificationService NotificationService
@inject SettingsService SettingsService

    <h1>@fromParams</h1>

@code {
    private string fromParams { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        fromParams = SettingsService.GetUploadableMimeTypes();
    }

}
