@inject DistrictService DistrictService

    <div style="max-height: 400px ">
         <RadzenCard>
            <RadzenListBox 
                Data=@Districts 
                TValue="District" 
                Multiple=false 
                AllowClear=false 
                TextProperty="DistrictName" 
                LoadData=@LoadData 
                AllowFiltering=true
                Value=@CurrentUser.RelatedDistrict
                Change=@(args => OnChange(args))
                />
        </RadzenCard>
     </div>



@code {
    public IEnumerable<District>? Districts;


    public List<District> SelectedDistricts { get; set; } = new();

    //-
    [Parameter]
    public District SelectedDistrict { get; set; }

    //-
    [Parameter]
    public District SuggestedDistrict { get; set; }

    [Parameter]
    public ReportUser CurrentUser { get; set; }

    private void OnChange(object value)
    {
        // Change=@(args => OnChange(args) - добавить в событие изменения ListBox
        var district = (District)value;
        CurrentUser.RelatedDistrict = district;

    }

    private void LoadData(LoadDataArgs args)
    {
        if (!string.IsNullOrEmpty(args.Filter))
        {
            Districts = DistrictService.GetFilteredDistrictsList(args.Filter.ToLower());
        }
        else
        {
            Districts = DistrictService.GetFullDistrictsList();
        }

    }

}
